@if(!isLoadingOver()){
<div>Loading...please wait</div>
}
@else if(errorMessage()!==''){
<div>{{errorMessage()}}</div>
}
@else if(products().length===0) {
<div>No records...</div>
}
@else {
<h2 class="text-muted">List of Products</h2>
<br>
<div>
    <label for="txtFilter">Filter By: &nbsp;</label>
    <input type="text" id="txtFilter" [(ngModel)]="filterText">
</div>
<br>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Rating</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody class="table-dark">
        @for (product of products()|productfilter:filterText; track $index) {
        <tr>
            <td>
                <img [src]="product.imageUrl" alt="NA" [title]="product.productName" class="img-style"
                    [routerLink]="['/products/view',product.productId]">
            </td>
            <td>{{product.productName}}</td>
            <td>{{product.price}}</td>
            <td>{{product.starRating}}</td>
            <td>
                <button class="btn btn-danger" type="button">Delete</button>
            </td>
        </tr>
        }
    </tbody>
</table>
}