<form [formGroup]="loginForm" (submit)="login()">
    <fieldset>
        <legend>Login</legend>
        <div>
            <label for="txtUserName">UserName: &nbsp;</label>
            <input type="text" id="txtUserName" formControlName="username">
        </div>

        <div>
            <label for="txtPassword">Password: &nbsp;</label>
            <input type="password" id="txtPassword" formControlName="password">
        </div>

        <div>
            <!-- <button type="submit" (click)="login($event)">LogIn</button> -->
            <button type="submit">LogIn</button>
        </div>
    </fieldset>
</form>